<!-- <form #form="ngForm" (submit)=submitForm($event,form.value) [hidden]="hidden"> -->
  <h1 id="title" >Trivia</h1>


  <!-- <div *ngIf="questionService.isActive;"> -->


  <!-- <div *ngFor="let answer of answers;let i=index  "> -->
    <!-- <div ngModelGroup="q{{i+1}}"> -->
    <app-question class="questions"  [question]=question [index]=index></app-question>

    <input type='radio' name={{index}}  value='{{answer.option1}}'  (change)="onItemChange($event)" />
    {{answer.option1}}<br />
    <input type='radio' name={{index}}  value='{{answer.option2}}'(change)="onItemChange($event)" />
    {{answer.option2}}<br />
    <input type='radio'  name={{index}} value='{{answer.option3}}' (change)="onItemChange($event)" />
    {{answer.option3}}<br />
    <input type='radio'  name='{{index}}' value='{{answer.option4}}' (change)="onItemChange($event)" />
    {{answer.option4}}<br /><br />

    <!-- <app-answer [answer]=answer [name]=i></app-answer> -->
  <!-- </div> -->

  <!-- </div> -->


 <button id="prevQ" (click)="prevQuestion() "
  >Prev</button>

  <button id="nextQ" (click)="nextQuestion($event)"
   >Next</button>
  <!-- <input type='submit' name='submit' value='Submit' /> -->
  <!-- <input type="hidden" name="ts" value="1547375825757">
 <h2>Correct answers: {{questionService.correctAnswers}} / {{questionService.totalQuestions}}</h2> -->
  <!-- <button id="submit" type="submit">submit</button>

</form> -->
<!-- </div> -->

